{$SERVER_NAME} {
	encode zstd gzip

	handle /api/admin/notifications/ws {
		reverse_proxy schedule:8081
	}

	handle /api/* {
		reverse_proxy rest-api:80
	}

	handle {
		root * /srv/app
		try_files {path} /index.html
		file_server
	}
}
