includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 10
    paths:
        - src
        - tests
    tmpDir: var/cache/phpstan
    parallel:
        maximumNumberOfProcesses: 1
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
