DATABASE_URL=postgresql://app:!ChangeMe!@127.0.0.1:5432/app?sslmode=disable
RABBITMQ_URL=amqp://app:!ChangeMe!@127.0.0.1:5672/app
SCHEDULE_GENERATION_QUEUE=schedule_generation
EXAM_SCHEDULE_GENERATION_QUEUE=exam_schedule_generation
SCHEDULE_SERVICE_ADDRESS=:8081
EXAM_CONSULTATION_DAYS_BEFORE=1
EXAM_MIN_DAYS_BETWEEN_GROUP_EXAMS=1
